.main-header {
    background-image: linear-gradient(rgb(29, 17, 205), rgb(252, 232, 204));
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    height: 48px;  
 }
 .header-info {
    text-align: left;
    color: rgb(87, 105, 193);
    positon: absolute;
    left: 0;
    padding: 0;
    margin: 14-x 14px 0 14px;
 }
 .header-info a {
    padding: 0;
    text-decoration: none;
 }
 .header-info a:hover {
    background-color: transparent
 }
 nav {
    position: absolute;
    right: 0;
    display: flex;
  }
  
  a {
    text-decoration: none;
    color: rgb(20, 171, 225);
    padding: 15px;
    float: left;
  }
  
  a:hover {
    background-color: rgb(46, 193, 139);
  }
  .jumbotron {
    margin-top: 5%;
  }